/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* line 1, ../sass/partials/_base.scss */
body {
  background-color: #2CC3A1;
  color: #FFF;
}

/*jumbotron*/
/* line 7, ../sass/partials/_base.scss */
.jumbotron {
  background-color: #2CC3A1;
  color: #FFF;
  border-bottom: solid 2px;
}

/*login*/
/* line 14, ../sass/partials/_base.scss */
.loginTitle {
  padding: 25px;
  font-size: 50px;
}

/* line 18, ../sass/partials/_base.scss */
.loginInput {
  background-color: #2D3538;
  color: #FFF;
}

/* line 22, ../sass/partials/_base.scss */
.loginLabel {
  font-size: 14px;
}
@media (min-width: 320px) {
  /* line 22, ../sass/partials/_base.scss */
  .loginLabel {
    font-size: 11px;
  }
}

/* line 28, ../sass/partials/_base.scss */
.loginButton {
  width: 100%;
  margin-left: 5px;
}

/* line 32, ../sass/partials/_base.scss */
.loginClose {
  background: #F1F5FF !important;
  font-size: 50px;
}

/* line 36, ../sass/partials/_base.scss */
.loginContainer {
  background-color: #2D3538;
  width: 450px;
}
@media (min-width: 320px) {
  /* line 36, ../sass/partials/_base.scss */
  .loginContainer {
    /*login*/
    background-color: #2D3538;
    width: 100%;
  }
}

@media (min-width: 320px) {
  /* line 47, ../sass/partials/_base.scss */
  h1 {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  /*Nav bar */
  /* line 54, ../sass/partials/_base.scss */
  .navbar-nav > li:not(.active) > a:hover {
    border-bottom: solid 2px #2CC3A1;
    padding-bottom: 10px;
  }

  /* line 59, ../sass/partials/_base.scss */
  .loginContainer {
    background-color: #2D3538;
    width: 450px;
  }
}
