<div class="aside loginContainer" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="">
      <div class="" ng-show="title">
        <button type="button" class="close loginClose" ng-click="$hide()">&times;</button>
        <h4 class="loginTitle" ng-bind="title"></h4>
      </div>
      <div class="row" style="margin-right: 0px">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control loginInput" />
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control loginInput" />
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-md-7">
              <div class="checkbox">
                <label class="loginLabel"><a href="#">Remember me</a><input type="checkbox" value=""></label>
              </div>
            </div>
            <div class="pull-left col-xs-12 col-md-5 loginLabel" style="line-height: 3.8">
              <a href="#">Lost password</a>
            </div>
          </div>
        </div>
        <div class=" col-xs-12">
          <button type="button" class="btn btn-hg btn-primary flat loginButton" ng-click="$hide()">Entrar</button>
        </div>
      </div>


    </div>
  </div>
</div>
