body {
  background-color: $principal-bg;
  color: $principal-txt;
}

/*jumbotron*/
.jumbotron {
  background-color: $principal-bg;
  color: $principal-txt;
  border-bottom: solid 2px;
}
/*login*/

.loginTitle {
  padding:25px;
  font-size: 50px
}
.loginInput {
  background-color: $login-bg;
  color: $login-input-txt;
}
.loginLabel {
  font-size: 14px;
  @include phone {
    font-size: 11px;
  };
}
.loginButton {
  width: 100%;
  margin-left:5px;
}
.loginClose {
  background: $login-close-bg !important;
  font-size: 50px;
}
.loginContainer {
  background-color: $login-bg;
  width: 450px;
  @include phone {
    /*login*/
    background-color: $login-bg;
    width: 100%;
  }
}
//Media Queries
@include phone {
  h1 {
    font-size: $phone-h1;
  }
}

@include tablet {
  /*Nav bar */
  .navbar-nav > li:not(.active) > a:hover {
    border-bottom: solid 2px $principal-bg;
    padding-bottom: 10px;
  }

  .loginContainer {
    background-color: $login-bg;
    width: 450px;
  }
}
