$principal-bg: #2CC3A1;
$principal-txt: #FFF;
$login-bg: #2D3538;
$login-input-txt: #FFF;
$login-close-bg: #F1F5FF;
$phone-h1: 45px;
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
$iPhoneRetina: "@media only screen and (min-width : 320px)";
$desktops: "@media only screen and (min-width : 992px)";
$tablet-width: 768px;
$desktop-width: 992px;
$phone-width: 320px;
/* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px) {
//
// }
//
// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px) {
//
// }
//
// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) {
//
// }
//
// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {
//
// }
